@import url('https://fonts.googleapis.com/css?family=Avenir');

.main-container {
	color: grey;
	font-family: 'Avenir', arial;
	
img {
height: 300px; width: 200px;
}
	
	
@media screen and (min-device-height:320px) and (max-device-width:420px) {

	body {
		font-size: 50px;
	}

	img {
		width: 100%;
		height: 100%;
	}

}

@media screen and (min-device-height:768px) and (max-device-width:1024px) {

	body {
		font-size: 100px;
	}

	img {
		width: 100%; 
		height: 100%;
	}

}

